h1 {
  padding: 0.5rem;
  font-size: 1.8rem;
}

h2 {
  padding: 0.5rem;
  font-size: 1.4rem;
}

h3 {
  padding: 1rem 0;
}

main {
  min-height: 96vh;
}

.center {
  text-align: center;
}

.no-decoration {
  text-decoration: none;
}

.rating-span {
  margin: 1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 400px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 3.5vw;
    padding: 2px;
  }
}
